main .view {
    padding: 4rem var(--main-horizontal-padding);
  }
  
  #view1 {
    padding-top: 14rem;
  }
  #view1 .text {
    font-size: 1rem;
  }
  #view1 .text h1 {
    font-size: 5.5em;
    line-height: 1.1em;
    margin-bottom: 0.6em;
  }
  #view1 .text h1 span {
    font-family: "NeueMachina";
    font-weight: 300;
    letter-spacing: -0.02em;
  }
  #view1 .text p {
    font-size: 2.45em;
    letter-spacing: -0.04em;
  }
  @media (max-width: 600px) {
    #view1 .text {
      text-align: center;
    }
    #view1 .text h1 {
      margin-bottom: 0.5em;
      line-height: 0.95em;
      font-size: 4em;
    }
    #view1 .text h1 br {
      display: none;
    }
    #view1 .text p {
      font-size: 1.6em;
    }
  }
  
  #view2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  #view2 .top h1 {
    font-size: 1rem;
  }
  #view2 .top h1 span {
    font-size: 1.7em;
    font-weight: 300;
  }
  #view2 .top h1 svg {
    height: 1.2em;
    width: 1.2em;
    margin-left: 0.7em;
  }
  #view2 .bottom .courses {
    display: grid;
    gap: 2rem;
    row-gap: 7rem;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  }
  #view2 .bottom .courses .course-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1 0 25rem;
  }
  #view2 .bottom .courses .course-wrapper .course {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: -moz-fit-content;
    width: fit-content;
    --border-radius: 1rem;
    --body-padding: 1.8rem;
    --body-padding-vertical: 2rem;
    width: 100%;
    text-decoration: none;
    border-radius: var(--border-radius);
    background-color: var(--ui-element-secondary-color);
  }
  #view2 .bottom .courses .course-wrapper .course .course-image {
    aspect-ratio: 16/9;
    border-radius: var(--border-radius);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    width: 100%;
    position: relative;
  }
  #view2 .bottom .courses .course-wrapper .course .course-image img {
    height: 100%;
    width: 100%;
  }
  #view2 .bottom .courses .course-wrapper .course .course-image .sub-tags {
    position: absolute;
    top: 0.8em;
    right: 0.75em;
  }
  #view2 .bottom .courses .course-wrapper .course .course-image .sub-tags .sub-tag {
    background-color: var(--mercury);
    color: var(--black);
    padding: 0.4em 1.3em;
    border-radius: 0.45em;
    text-transform: uppercase;
    font-size: 0.65rem;
    font-weight: 800;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body {
    flex: 1 0 auto;
    padding: var(--body-padding-vertical) var(--body-padding);
    padding-right: calc(var(--body-padding) - 0.2em);
    border-radius: 0.8rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    flex-grow: 1;
    letter-spacing: 0.02em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .top {
    margin-bottom: 3rem;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .top h2 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 1.6em;
    justify-content: left;
    font-weight: 400;
    margin-bottom: 0.7rem;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .top p {
    font-size: 1.1em;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 0.3rem 0.8rem;
    background-color: var(--ui-element-color);
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .bottom .left span {
    color: var(--accent-color);
    font-size: 1.1rem;
    font-weight: 300;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .bottom .left div {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .bottom .left div p {
    font-size: 1.7rem;
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .bottom .left div small {
    font-size: 1.3rem;
    text-decoration: line-through;
    color: var(--boulder);
  }
  #view2 .bottom .courses .course-wrapper .course .course-body .bottom .right div {
    margin-bottom: 0.5rem;
    background-color: white;
    color: black;
    font-size: 0.9rem;
    padding: 0.3rem 0.7rem;
    font-weight: 500;
    border-radius: 4px;
  }
  #view2 .bottom .courses .course-wrapper.commingSoon .course-image {
    position: relative;
  }
  #view2 .bottom .courses .course-wrapper.commingSoon .course-image::after {
    content: "Coming soon";
    background-color: rgba(24, 24, 24, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Wild-Sand);
    font-size: 1.6em;
    font-family: "NeueMachina";
  }
  #view2 .bottom .courses .course-wrapper .buy-now {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  @media (max-width: 600px) {
    #view2 .top h1 {
      text-align: center;
      font-size: 1em;
    }
    #view2 .bottom {
      padding: 0 0;
    }
    #view2 .bottom .courses {
      padding: 0 var(--main-horizontal-padding);
      display: flex;
      flex-direction: column;
    }
    #view2 .bottom .courses .course-wrapper {
      flex: 0 0 89%;
      scroll-snap-align: center;
    }
    #view2 .bottom .courses .course-wrapper .course {
      font-size: 1.1rem;
    }
    #view2 .bottom .courses .course-wrapper .course .course-body h2 {
      font-size: 1.4em;
    }
    #view2 .bottom .courses .course-wrapper .course .course-body p {
      font-size: 1em;
    }
    #view2 .bottom .courses .course-wrapper .course .course-body-tags .tags .tag {
      font-size: 1.2em;
    }
    #view2 .bottom .courses .course-wrapper .course .course-instructor {
      padding: 1em;
      margin-bottom: 2em;
    }
    #view2 .bottom .courses .course-wrapper .course .course-instructor p {
      font-size: 0.9em;
    }
    #view2 .bottom .courses .course-wrapper .course .course-instructor span {
      font-size: 1.3em;
    }
    #view2 .bottom .courses .course-wrapper .buy-now {
      padding-top: 0.6em;
      padding-bottom: 0.6em;
      font-size: 1.4em;
    }
  }/*# sourceMappingURL=courses.css.map */